@charset "UTF-8";

.bordas{
    border: 4px solid green, ;
    font-size: large;
}

.teste{
    margin-top: 30px;
    font-size: larger;
    border-style: dashed solid outset dotted ;
    border-color: red blue green darkgoldenrod;
}

